#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  height: 35rem;
  width: 70rem;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  overflow: hidden; /* stops the No button escaping */
}

.heartImg {
  width: 30%;
}

.header {
  color: #363636;
}

.btnContainer {
  position: relative;
  width: 100%;
  height: 12rem; /* playground height */
  margin-top: 2rem;
}

button {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.yesBtn {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: red;
  border-radius: 40px;
  color: #fff;
  transition: all 0.3s;
}

.noBtn {
  /* margin-left: 6rem; */
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: lightgray;
  border-radius: 40px;
  color: #363636;
  transition: all 0.3s;
  width: fit-content;

  position: absolute; /* required for left/top to work */
  margin-left: 0; /* remove your old margin */
  transition:
    left 0.08s,
    top 0.08s; /* smooth scoot */
}

.yesBtn:hover {
  transform: scale(1.3);
}
