#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  height: 35rem;
  width: 70rem;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heartImg {
  width: 30%;
}

.header {
  color: #363636;
}

.btnContainer {
  /* display: flex; */
  gap: 7rem;
}

button {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.yesBtn {
  display: inline-block;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: red;
  border-radius: 40px;
  color: #fff;
  transition: all 0.3s;
}

.noBtn {
  margin-left: 6rem;
  display: inline-block;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: lightgray;
  border-radius: 40px;
  color: #363636;
  transition: all 0.3s;
  width: fit-content;
}

.yesBtn:hover {
  font-size: 4.2rem;
}
